<p tpl-if="$error"
   style="color: red" >{{ $error }}</p>

<p>Kui palju on 2*5?</p>

<form method="post" action="?cmd=save">

    <input name="answer" value="{{ $answer }}">

    <input type="submit" value="Saada">

</form>
